{
    "client_id": "you-azure-service-principal",
    "client_secret": "you-azure-service-principal-secret",
    "PCF_PIVNET_UAA_TOKEN": "UAA Token from Pivnet",
    "NTP_SERVERS_STRING": "192.168.1.1",
    "OM_Password": "Password123!",
    "OM_Username": "opsman",
    "SMTP_ADDRESS": "",
    "SMTP_IDENTITY": "",
    "SMTP_PASSWORD": "",
    "SMTP_FROM": "",
    "SMTP_PORT": "",
    "PCF_NOTIFICATIONS_EMAIL": "example@email.com"
}
    